<app-header></app-header>
<app-nav></app-nav>
<section class="single-page-title single-page-title-contact">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2>Contáctenos</h2>
          </div>
      </div>
  </div>
</section>
<!-- .page-title -->
<!-- .page-title -->

            <section class="our-location rounded mx-auto d-block">
              <div class="container">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.0146834751095!2d-79.96667828526323!3d-2.1480648377791143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d72f925e5bfdb%3A0x327cdb9f7f4ba3b2!2sEscuela%20Superior%20Polit%C3%A9cnica%20del%20Litoral%20(ESPOL)!5e0!3m2!1ses!2sec!4v1623990462705!5m2!1ses!2sec" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              
            </section>



            <section class="contact-detail gray-bg">
              <div class="container text-left">
                <div class="row">
                  <div class="col-md-4">
                    <div class="promo-block-wrapper clearfix">
                      <div class="promo-icon promo-icon-blue">
                        <i class="fa fa-map-marker"></i>
                      </div>
                      <div class="promo-content">
                        <h3>Dirección de oficina</h3>
                        <address>
                          Escuela Superior Politécnica del Litoral(ESPOL)<br> 
                          Guayaquil,Guayas,Ecuador
                        </address>
                      </div>
                    </div><!-- /.promo-block-wrapper -->
                  </div>

                  <div class="col-md-4">
                    <div class="promo-block-wrapper clearfix">
                      <div class="promo-icon promo-icon-yellow">
                        <i class="fa fa-phone"></i>
                      </div>
                      <div class="promo-content">
                        <h3>Número de Teléfono</h3>
                        <address>
                          <abbr title="Phone">Teléfono:</abbr> 1-800-123-ESPOL<br>
                          <abbr title="Phone">Celular:</abbr> +593 987 654 321
                        </address>
                      </div>
                    </div><!-- /.promo-block-wrapper -->
                  </div>

                  <div class="col-md-4">
                    <div class="promo-block-wrapper clearfix">
                      <div class="promo-icon promo-icon-green">
                        <i class="fa fa-envelope-o"></i>
                      </div>
                      <div class="promo-content">
                        <h3>Correo Electrónico</h3>
                        <address>
                          <a href="mailto:#">contact@espol.edu.com</a><br>
                          <a href="#">www.uiCookies.com</a>
                        </address>
                      </div>
                    </div><!-- /.promo-block-wrapper -->
                  </div>
                </div><!-- /.row -->
              </div>
            </section> <!-- contact-detail -->



            <section class="contact-section">
              <div class="container">
                <div class="section-title text-center">
                  <h2>
                      Si tiene alguna duda. No dude en contactarnos
                  </h2>
                </div>

                <div class="contact-form mt-50">
                  <form action="">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="nameTwo" class="sr-only">Name</label>
                          <input type="text" class="form-control" required="" id="nameTwo" placeholder="Primer Nombre ">
                        </div>
                        

                        <div class="form-group">
                          <label for="emailTwo" class="sr-only">Email</label>
                          <input type="email" class="form-control" required="" id="emailTwo" placeholder="Correo electrónico">
                        </div>
                      </div> <!-- col-md-4 -->

                      <div class="col-md-8">
                        <div class="form-group">
                          <label for="messageTwo" class="sr-only">Message</label>
                          <textarea class="form-control" required="" rows="7" placeholder="Escribir mensaje"></textarea>
                        </div>
                      </div> <!-- col-md-8 -->
                    </div><!-- /.row-->

                    <button type="submit" class="btn btn-primary btn-lg pull-right">Enviar Mensaje</button>
                  </form>
                </div> <!-- contact-form -->           
              </div>
            </section> <!-- contact-section -->
<app-footer></app-footer>