
<section class="single-page-title single-page-title-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Sobre Nosotros</h2>
            </div>
        </div>
    </div>
</section>
<!-- .page-title -->

<section class="about-text">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Te damos la oportunidad de poder tener un espacio online para manejar tus citas de manera profesional</h2>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <p>El proyecto nació en el 2021 por 5 estudiantes universitarios pertenecientes a la carrera de Ingeniería 
                    en Ciencias Computacionales de la Escuela Superior Politécnica del Litoral (ESPOL). Con esta página 
                    buscamos que todas las personas que no tienen los recursos para tener su propia página web, puedan 
                    venir libremente y obtener su pequeño espacio para que puedan mostrarse y a su vez gestionar uno de 
                    los servicios que ofrece nuestra página como es el poder agendar citar de manera virtual.
                </p>
            </div>
            <div class="col-md-6">
                <p>El proyecto fue creado sin intenciones de lucro, solo buscamos darle una imágen más profesional a 
                    los pequeños negocios para que así puedan competir contra los que tienen mas recursos.
                    Ofrecemos una facilidad al cliente y al empleado de organizarse entre ellos con citas agendadas de 
                    manera digital realizando los pagos via online o a decidirse entre ellos.
                </p>
            </div>
        </div>
    </div>

</section>
<!-- .about-text-->

<section class="about-text-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Misión</h3>
                <img src="assets/img/img-about-1.png" alt="">
                <p>Cooperamos con la sociedad para mejorar la calidad de vida y promover el desarrollo sostenible y equitativo, a través de formación profesional íntegra y competente, investigación e innovación.</p>
            </div>
            <div class="col-sm-4">
                <h3>Visión</h3>
                <img src="assets/img/img-about-2.png" alt="">
                <p>Ser una comunidad académica consolidada, con altos estándares internacionales, de líderes creativos e innovadores que respondan de forma oportuna a las necesidades de la sociedad.</p>
            </div>
            <div class="col-sm-4">
                <h3>Nuestros valores</h3>
                <img src="assets/img/img-about-3.png" alt="">
                <p>Integridad, Cooperación, Empatía, Dedicación, Apertura, Innovación.
                </p>
            </div>
        </div>
    </div>

</section>
<!-- .skills -->

<section class="team-section">
        <div class="container">
            <div class="section-title text-center">
                <h2>Conoce al equipo</h2>
            </div>
        </div>   
        <div class="team-member">
            <div class="container">
                <div id ="contenedor-img" class="row">
                    <div class="col-sm-4">
                        <figure class="thumbnail">
                            <a href="#"><img src="assets/img/img-team-1.jpeg" class="img-responsive" alt="Image"></a>
                            <figcaption class="caption text-center">
                                <h3>Anthony Barco</h3>
                                <p>Estudiante De Ingenieria en Ciencias Computacionales
                                    FIEC-ESPOL
                                </p>
                                <hr>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div><!-- /.col-sm-4 -->

                    <div class="col-sm-4">
                        <figure class="thumbnail">
                            <a href="#"><img src="assets/img/img-team-2.jpeg" class="img-responsive" alt="Image"></a>
                            <figcaption class="caption text-center">
                                <h3>Bryan Puchaicela</h3>
                                <p>Estudiante De Ingenieria en Ciencias Computacionales
                                    FIEC-ESPOL</p>
                                <hr>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div><!-- /.col-sm-4 -->

                    <div class="col-sm-4">
                        <figure class="thumbnail">
                            <a href="#"><img src="assets/img/img-team-3.jpeg" class="img-responsive" alt="Image"></a>
                            <figcaption class="caption text-center">
                                <h3>Andrea Soriano</h3>
                                <p>Estudiante De Ingenieria en Ciencias Computacionales
                                    FIEC-ESPOL</p>
                                <hr>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div><!-- .col-sm-4 -->

                    <div class="col-sm-4">
                        <figure class="thumbnail">
                            <a href="#"><img src="assets/img/img-team-4.jpeg" class="img-responsive" alt="Image"></a>
                            <figcaption class="caption text-center">
                                <h3>Bryan Vargas</h3>
                                <p>Estudiante De Ingenieria en Ciencias Computacionales
                                    FIEC-ESPOL</p>
                                <hr>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div><!-- .col-sm-4 -->

                    <div class="col-sm-4">
                        <figure class="thumbnail">
                            <a href="#"><img src="assets/img/img-team-5.jpeg" class="img-responsive" alt="Image"></a>
                            <figcaption class="caption text-center">
                                <h3>Kenny Yépez</h3>
                                <p>Estudiante De Ingenieria en Ciencias Computacionales
                                    FIEC-ESPOL</p>
                                <hr>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div><!-- .col-sm-4 -->
                </div><!-- .row -->
            </div> <!-- .container -->
        </div>
</section><!--.team-section-->
<app-footer></app-footer>