<app-header></app-header>
<app-nav></app-nav>
<app-carousel></app-carousel>
<!-- #buscador-->
<div  class="row row-cols-8 row-cols-md-3 g-4 mx-2 my-2">
    <div id ="buscador" class="input-group">
        <input type="search" class="form-control rounded" placeholder="Ingrese lo que desea buscar" aria-label="Search"
            aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">Buscar</button>
    </div>
</div>
<!-- #buscador-->

<section class="section-content-left-icon">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="left-icon-wraper">
                    <div class="content">
                        <h2>Restaurantes</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet
                            mornings of spring.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="left-icon-wraper">
                    <div class="content">
                        <h2>Belleza</h2>
                        <p>Distinctively cultivate granular action items with standards compliant
                            metrics. Holisticly promote empowered.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="left-icon-wraper">
                    <div class="content">
                        <h2>Centros médicos</h2>
                        <p>Assertively facilitate go forward web services whereas intuitive e-markets.
                            Completely parallel task world.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="left-icon-wraper">
                    <div class="content">
                        <h2>Hoteles</h2>
                        <p>Efficiently monetize technically sound e-markets rather than interoperable
                            e-services.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="left-icon-wraper">
                    <div class="content">
                        <h2>Laboratorios</h2>
                        <p>Collaboratively seize best-of-breed manufactured products for inexpensive
                            initiatives. Dynamically repurpose.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="left-icon-wraper">
                    <div class="content">
                        <h2>Talleres</h2>
                        <p>Enthusiastically promote standards compliant relationships vis-a-vis backend
                            resources.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .container -->
</section>
<!-- /.services-left-icon -->

<section class="featured-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featured-content-wrapper">
                    <div class="featured-img">
                        <img class="img-responsive" src="assets/img/LogoReservaTuCita.png" alt="">
                    </div>
                    <div class="featured-content">
                        <h1>Busca, Revisa, Planifica, Asiste</h1>
                        <p>
                            Esta página tiene como objetivo ayudar a los locales comerciales con la planificación
                            de citas, y así mismo, a sus clientes para que encuentren su horario y día ideal para
                            la asistencia de la misma.
                        </p>
                        <a routerLink="/services" class="btn btn-default btn-lg">Learn More About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.featured-box -->

<!-- /.client-logo -->
<app-footer></app-footer>