
/*Buscador*/
.input-group{
    position: relative;
    margin-left:15px;
    margin-right: 20px;
    background-color: #edf2f4;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group .btn{
    position: relative;
    z-index: 2;
}

p{
    font-size: 1.5em;
}


/*---------------------------
 * Section Title
 *---------------------------*/
 .section-title{
    margin-bottom: 60px;
 }

/*---------------------------
 * Service Left Icon section
 *---------------------------*/
.section-content-left-icon{
    padding: 70px 0 20px;
    }

.section-content-left-icon .left-icon-wraper {
    display: table;
    margin-bottom: 60px;
}

.section-content-left-icon .content,
.section-content-left-icon .icon{
    display: table-cell;
    vertical-align: top;
}

.section-content-left-icon .content{
    padding-left: 10px;
    padding-top: 10px;
}

.section-content-left-icon .content h2{
    font-size: 18px;
}

.section-content-left-icon .icon{
    width: 70px;
    padding-top: 10px;
}

.section-content-left-icon .icon i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 25px;
    display: block;
}

.section-content-left-icon .icon i::before{
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: white;
}

.section-content-left-icon .col-md-4{
    background-color: #d80032;
    box-shadow: inset 0 0 0 1px #d80032;
    margin: 2px;
    border-radius: 20px;
    color: white;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.section-content-left-icon .col-md-4:hover{
    background-color: white;
    box-shadow: inset 0 0 0 1px #d80032;
    color:black;
}

@media (min-width: 992px) {
    .col-md-4 {
        width: 32%;
    }
}

/* ------------------
 * Featured box
 *-------------------*/

.featured-box{
    border-top: 1px solid #f0f1f3;
}
.featured-content-wrapper{
    display: table;
}
.featured-box .featured-img,
.featured-box .featured-content{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}


/*Media Query*/

@media only screen and (max-width: 768px) {
    .featured-box{
        padding: 60px 0;
    }
    .featured-box .featured-img{
        margin: 0 0 30px;
    }
    .featured-box .featured-img,
    .featured-box .featured-content{
        display:block;
        width: 100%;
    }
}
#buscador{
    max-width: ;
}
.carousel-caption p{
    align-content: center;
}