<!-- Inicio de footer -->
<footer class="footer">
    <!-- Footer Widget Section -->
    <div class="footer-widget-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-logo">
                        <a href="#"><img class="img-responsive" src="assets/img/LogoReservaTuCitaGray.png" alt=""></a>
                    </div>
                </div><!-- /.col-sm-4 -->

                <div class="col-md-8">
                    <div class="footer-text">
                        <p>Inscriba su empresa de manera asertiva y segura en nuestra plataforma sinérgica para obtener
                            reconocimiento hacia una nueva cartera de clientes y permitirse ofrecer sus servicios.
                            Impulse su
                            negocio y garantice posicionamiento en el mercado con el comercio electrónico.</p>

                        <ul class="social-icon">
                            <li><a href="" class="fa fa-facebook" aria-hidden="true"> </a></li>
                            <li><a href="" class="fa fa-twitter" aria-hidden="true"> </a></li>
                            <li><a href="" class="fa fa-pinterest-p" aria-hidden="true"> </a></li>
                            <li><a href="" class="fa fa-google-plus" aria-hidden="true"> </a></li>
                            <li><a href="" class="fa fa-linkedin" aria-hidden="true"> </a></li>
                        </ul>

                    </div>
                </div><!-- /.col-sm-4 -->
            </div>
        </div>
    </div><!-- /.Footer Widget Section -->

    <div class="copyright-section">
        <div class="container clearfix">
            <span class="copytext">Copyright &copy; 2021 | Diseñado y Desarrollado Por: <strong
                    style="color:#4d6de3">Los
                    Angeles de Andrea</strong></span>
        </div><!-- .container -->

    </div><!-- .copyright-section -->
</footer>
<!-- .footer -->